<div class="custom-background">
  <div class="container">
  <h1>Construction Management </h1>
  <h2>Enter Details Below</h2>
  <!-- Form to add a new property -->
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="newProperty.name" class="form-control" placeholder="Enter property name">
  </div>
  <div class="form-group">
    <label for="location">Location:</label>
    <input id="location" [(ngModel)]="newProperty.location" class="form-control" placeholder="Enter property location">
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input id="price" [(ngModel)]="newProperty.price" type="number" class="form-control" placeholder="Enter property price">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" [(ngModel)]="newProperty.description" class="form-control" placeholder="Enter property description"></textarea>
  </div>
  <div class="form-group">
    <label for="picture">Upload Picture:</label>
    <input type="file" (change)="onFileSelected($event)" class="form-control-file">
  </div>
  <button (click)="addProperty()" class="btn btn-primary">Add Property</button>

  <h2>Properties</h2>
  <!-- List of properties -->
  <ul class="property-list">
    <li *ngFor="let property of properties" class="property-item">
      <div class="property-details">
        <h3>{{ property.name }}</h3>
        <p><strong>Location:</strong> {{ property.location }}</p>
        <p><strong>Price:</strong> Rs {{ property.price }}</p>
        <p>{{ property.description }}</p>
      </div>
      <img [src]="property.picture" alt="{{ property.name }}" class="property-image">
      <button *ngIf="!property.isEditing" (click)="startEditing(property)">Edit</button>
      <!-- Edit form -->
      <div *ngIf="property.isEditing" class="edit-form">
        <div class="form-group">
          <label for="editName">Name:</label>
          <input id="editName" [(ngModel)]="property.name" class="form-control">
        </div>
        <div class="form-group">
          <label for="editLocation">Location:</label>
          <input id="editLocation" [(ngModel)]="property.location" class="form-control">
        </div>
        <div class="form-group">
          <label for="editPrice">Price:</label>
          <input id="editPrice" [(ngModel)]="property.price" type="number" class="form-control">
        </div>
        <div class="form-group">
          <label for="editDescription">Description:</label>
          <textarea id="editDescription" [(ngModel)]="property.description" class="form-control"></textarea>
        </div>
        <button (click)="updateProperty(property)">Update</button>
      </div>
    </li>
  </ul>
</div>
</div>
