.custom-background {
  background-color: #f0f0f0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control-file {
  font-size: 16px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.property-list {
  list-style: none;
  padding: 0;
}

.property-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.property-details h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.property-details p {
  margin: 10px 0;
  color: #555;
}

.property-image {
  width: auto;
  height: auto;
  margin-top: 10px;
}

.edit-form {
  margin-top: 20px;
}

/* Add more styles as needed */
